<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="{% if site.theme-dark %} dark {% else %} light {% endif %} ">

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 가로만 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-2635448799521353"
     data-ad-slot="9498904399"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

    {% include footer.html %}

  </body>

</html>
